$primePurple: #6706A5;
$primeGrey: #a19f9f;
$rudeGrey: #3d3b3b;
$lightGrey: #D3D3D3;
$purpleActive: #58008CFF;
$mainGray: #E7E7E7;
$lightPurple: #CBC3E3;

.mainContainer{
  display: flex;
  min-width: 1920px;
  min-height: 1080px;
}

.mainBar{
  display: flex;
  width: 100%;
  height: 100vh;
  background: $mainGray;
  flex-direction: column;
  align-items: center;
}


.filterSection{
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  width: 94%;
  height: 55px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;

  .filter{
    svg{
      font-size: 38px;
      margin-left: 40px;
      cursor: pointer;
    }
  }

  .searchOrders{
    width: 444px;
    position: relative;
    input{
      width: 100%;
      height: 38px;
      background-color: $primePurple;
      border: none;
      border-radius: 10px;
      color: white;
      outline: none;
      box-sizing: border-box;
      padding-left: 70px;
      font-size: 14px;

      &::placeholder{
        color: white;
      }
    }
    svg{
      color: white;
      position: absolute;
      top: 8px;
      left: 22px;
      font-size: 22px;
      cursor: pointer;
    }
  }

  .addOrder{
    svg{
      font-size: 38px;
      margin-right: 40px;
      cursor: pointer;
    }
  }
}

.ordersBar{
  width: 94%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  padding: 25px 40px 0 40px;
  box-sizing: border-box;
}

.headerOrders{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .select{
    span{
      &:first-child{
        text-transform: uppercase;
      }
      &:last-child{
        background-color: $mainGray;
        padding: 5px;
        margin-left: 10px;
        border-radius: 3px;
        cursor: pointer;
      }
    }
  }

  .pagination{
    display: flex;
    flex-direction: row;
    .numberPagination{
      span{
        font-size: 20px;
        margin-right: 10px;
        &:first-child{
          margin-left: 15px;
        }
        &:last-child{
          margin-right: 15px;
        }
      }
    }
    svg{
      font-size: 24px;
    }
  }

  .pageInformation{
    .perPage{
      display: flex;
      flex-direction: row;
      span{
        margin-bottom: 10px;
      }
    }
  }
}

.table{
  display: flex;
  flex-direction: column;
  input[type=checkbox]{
    appearance: auto;
    margin: 0;
    width: 20px;
    height: 20px;
    &:checked{
      accent-color: $primePurple;
    }
  }
}

.tableHead{
  margin-top: 15px;
  background-color: $mainGray;
  font-size: 11px;
  height: 40px;
  border-radius: 10px;
  .hRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    .hCell{
      width: calc(100% / 10);
    }
  }
}

.tableBody{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 100%;
  margin-top: 20px;
  .bRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
    .bCell{
      width: calc(100% / 10);

      .multiCell{
        display: flex;
        flex-direction: column;
      }
    }
    svg{
      color: $primePurple;
      cursor: pointer;
      font-size: 20px;
      &:hover{
        font-size: 22px;
        padding: 0;
        margin: 0;
      }
    }
  }
}


.selectStatuses__control{
  &:hover{
    background-color: $lightPurple;
  }
}
.selectStatuses__menu{
  background-color: purple;
}