$primePurple: #6706A5;
$primeGrey: #a19f9f;
$rudeGrey: #3d3b3b;
$lightGrey: #D3D3D3;
$purpleActive: #58008CFF;
$mainGray: #E7E7E7;
$lightPurple: #CBC3E3;

.filterSection{
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  width: 94%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px 0 10px 0;
  .filter{
    svg{
      font-size: 38px;
      margin-left: 40px;
      cursor: pointer;
    }
  }

  .searchOrders{
    width: 444px;
    position: relative;
    input{
      width: 100%;
      height: 38px;
      background-color: $primePurple;
      border: none;
      border-radius: 10px;
      color: white;
      outline: none;
      box-sizing: border-box;
      padding-left: 70px;
      font-size: 14px;

      &::placeholder{
        color: white;
      }
    }
    svg{
      color: white;
      position: absolute;
      top: 8px;
      left: 22px;
      font-size: 22px;
      cursor: pointer;
    }
  }

  .addOrder{
    svg{
      font-size: 38px;
      margin-right: 40px;
      cursor: pointer;
    }
  }
}