$primePurple: #6706A5;
$primeGrey: #a19f9f;
$rudeGrey: #3d3b3b;
$lightGrey: #D3D3D3;
$purpleActive: #58008CFF;
$mainGray: #E7E7E7;
$lightPurple: #CBC3E3;

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  div{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    span{
      margin-bottom: 10px;
      font-size: 23px;
      font-style: normal;
      font-weight: 450;
      color: $primePurple;
      padding-left: 3px;
    }
    input{
      border: 1px solid $primeGrey;
      border-radius: 5px;
      height: 51px;
      width: 380px;
      padding-left: 10px;
      font-size: 17px;
      font-style: normal;
      &:focus{
        outline-width: thin;
        outline-color: $primePurple;
      }
    }
    &:nth-child(6){
      display: flex;
      align-items: center;
      button{
        background-color: $primePurple;
        color: #fff;
        font-size: 17px;
        font-style: normal;
        height: 51px;
        width: 257px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        transition: 0.2s;
        &:hover{
          cursor: pointer;
          background-color: $purpleActive;
          transition: 0.4s;
        }
      }
    }
  }
}